/*backgroud-color studio #E5E5E5 /
/* head color #FFFFFF */
/* logo color #2196F3 */
/* tel & mail color #757575 */
/* team color #F5F4FA */
/* footer & image main color #2F303A */
/* footer mail & phone color rgba(255, 255, 255, 0,6) /
/* text color #757575 */
/* title color #212121  */

:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
/* Studio */
/* body */
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  
  /* outline: 2px solid grey; */
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Header  */

.hide{
  border: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}
.header {
  background-color: #ffffff;
}
.logo-header {
  /* display: block; */
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo-header .web {
  color: #2196f3;
}

}
.site-nav {
  display: flex;

}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: #2196f3;
}

.site-nav-link {
  display: block;
  color: #212121;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
}

.current {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts-item:not(:last-child){
  margin-right: 50px;

}

.contacts-link {
  color: #757575;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;

}
.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}


/* hero image */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
  max-width: 1600px;
  
  

  

}
.hero-title {
  margin-left: auto;
  margin-right: auto;
   margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #188ce8;
}
.hero-button {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: 1px solid #2196f3;
  /* text-align: center; */

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}
/*  our features */
.features-nav{
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.features .works {
  background-color: #e5e5e5;
}

.features-title {
  margin-top: 94px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: bold;
  line-height: 1.1;
}
.features-item{
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
  width: 270px;
}
.features-item:not(:last-child){
  margin-right: 30px;
}
.features-desc {

  margin-top: 10px;
  margin-bottom: 94px;
  
 
  /* margin-right: 30px; */
  /* color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em; */
}

/* our works */
.works-nav{
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}
.works-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.works-item {
  margin-top: 50px;
  margin-bottom: 94px;

}
.works-item:not(:last-child){
  margin-right: 30px;
}
/* our team */
.section-team {
  background-color: #f5f4fa;
}
.section-title {
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: #212121;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: #212121;
}
.team{
  padding-left: 0;
  margin-bottom: 0;
  
}
.team-item{

  background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

    margin-top: 50px;
    margin-bottom: 94px;
}
.team-item:not(:last-child){
  margin-right: 30px;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/* footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-nav-list {
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.logo-footer {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-bottom: 20px;
}
.logo-footer .studio {
  color: #ffffff;
}
.footer-text {
  color: #ffffff;
  margin-bottom: 9px;
}
.footer-title{
  margin-bottom: 9px;
}
.footer-link:hover,
.footer-link:focus {
  color: #2196f3;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* Portfolio */

.filters{
  display: flex;
  justify-content: center;
  
}
.filters-item{
  margin-right: 8px;
  margin-top: 100px;
  margin-bottom: 56px;
  
}
.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  background-color: #188ce8;
}

.filters-button {
  background-color: #F5F4FA;
  color: #212121;


  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 0px;

  padding: 6px 22px;
  
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}







.flex-container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  padding-bottom: 94px;
}

.pictures{
  display: flex;
  flex-wrap: wrap;

  
}
.pictures-title {
  margin-top: 20;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
  
  
}
.pictures-text {
  margin-top: 4px;
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;

  color: #757575;

  
}



.pictures-item{
  background: #FFFFFF;
  width: 370px;
  border: 1px #EEEEEE;
  border-style: none solid solid;

}

.elements
{

  margin-right: 30px;
  margin-bottom: 30px;
}
.elements:nth-child(3n){
  margin-right: 0;
}
.elements:nth-last-child(-n + 3){
  margin-bottom: 0;
}